:root {
  background-color: #000000;
  color: #FFFFFF;
  font-family: OpenSansLight, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
}

@media (max-width: 20rem) {
  :root {
    font-size: 0.5rem;
  }
}

@media (min-width: 20rem) {
  :root {
    font-size: calc(0.5rem + ((1vw - 0.2rem) * 1));
  }
}

@media (min-width: 120rem) {
  :root {
    font-size: 1.5rem;
  }
}
